<!--<app-header></app-header>-->
<div class="jumbotron" style="margin-top:100px" >
<div class="jumbotron">
    <div class="container">
    <p style="margin-left:30%">Making it easy to find someone you trust</p>
    <h1 class="display-3" style="margin-left:20%">Find house - keepers</h1>
       <h1 style="margin-left: 5%"> within your closest social circles.
    </h1>
    <router-outlet></router-outlet>

    <div style="margin-left:35%">
    <button routerLink="/clients/menuclient" type="button" name="button" class="btn btn-lg" style="background:#3b5998;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 10px 30px;">Connect with Facebook</button>
    </div>
    </div>
   
</div>
</div>

