
<!--<app-header></app-header>-->

<div class="jumbotron" style="margin-top:100px" >
<div class="jumbotron">
    <div class="container">
    <p style="margin-left:35%">Making it easy to find someone you trust</p>
    <h1 class="display-3" style="margin-left:10%">Find new and frequent customers </h1>
       <h1 style="margin-left: 5%"> using your current customers network
    </h1>

    <div style="margin-left:35%">
    <button routerLink="/workers/formworker" type="button" name="button" class="btn btn-lg" style="background:#3b5998;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 10px 30px;">Connect with Facebook</button>
    </div>
    </div>
   
</div>
</div>




