<div class="container">
<div class="jumbotron" style="margin-top:100px">
  <h1>Program your next Services!</h1>


  <div>
 <p>Thank you for recommending your housekeeper, building trust is  important key for better job options.If you want
     to schedule your next service  with her, please click on book.</p>

    <p>
     By Booking your services using our plataform you provide benefits to  the domestic workers.
  </p>
  </div>
 


<div style="margin-left:35%">
   <button routerLink="/home" type="button" name="button" class="btn btn-lg" style="background:#69D3BD;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 30px 120px;">Book</button>
</div>
</div>
</div>