 
<div class="container" style="margin-top:100px">
  <div class="jumbotron">

  

<div style="margin-left:35%"  >
  <h1 class="display-3">This is it!</h1>

</div>
  <div >
 <p class="lead">We will notify you to your Facebook chat when you have new service requeriments. If you have
any questions please, contact us
 </p>

    <p>
     If you prefere receive the notifications in your Whatsapp please provide your number
  </p>
  </div>

<div >
  <div class="container" style="margin-left:35%">
  <input type="text" placeholder="Whatsapp number"  name="" value=""  style="border-radius: 6px; border-color:#69D3BD;border-style:solid; font-size: 15px; padding:5px;">
  <button type="button" name="button" class="btn btn-lg" style="background:#69D3BD;border-radius: 6px; color: #ffffff; font-size: 15px; padding: 10px 30px;">Save</button>
        </div>
</div>

<br/>
<div class="container" style="margin-left:35%;">
<button routerLink="/home" type="button" name="button" class="btn btn-lg" style="background:#69D3BD;border-radius: 6px;  color: #ffffff; font-size: 20px; padding: 10px 100px;">Back</button>
</div>

</div>

</div>





