<div class="container" style="margin-top:100px">
  <div class="jumbotron">



    <div style="margin-left:35%">
      <h1 class="display-3">All set!</h1>

    </div>
    <div style="margin-left:20%">
      <p class="lead">Thank you for scheduling your house-keeping services using HomIn
      </p>

      <p>
        Your reservation are for
      </p>
      <li >
      <ul><div><p>Jun 6th morning time</p> <a>Edit</a></div> </ul>
    </li>
    </div>
    

    <br/>
    <div class="container" style="margin-left:35%;">
      <button routerLink="/home" type="button" name="button" class="btn btn-lg" style="background:#69D3BD;border-radius: 6px;  color: #ffffff; font-size: 20px; padding: 10px 100px;">Back</button>
    </div>

  </div>

</div>