<div style="background-color:#262a36;">
  <nav class="navbar navbar-light" style="padding:5px; background-color:#262a36;">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="img-responsive" height="20px" width="100px" src="assets/images/homin.png" />

      </div>

      <div class="navbar-right" style="margin-top:10px; margin-right:50px"> 
        <p class="navbar-text" style="color:#ffffff; ">Log In</p>
        <p class="navbar-text" style="color:#ffffff;">+Sign Up</p>
        <i class="fa fa-bars fa-2x" style="color:#ffffff; margin-top:10px" aria-hidden="true"></i>
      </div>

    </div>

  </nav>


<div class="container">
  <div class="row">
 <img src="assets/images/foto.png" class="img-responsive"  alt="">
   <div style="margin-left:37%">
      <!--<button type="button" name="button" class="btn btn-lg " style="background:#69D3BD;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 10px 100px;" (click)=login()>Login With Facebook</button>
    -->
    <button type="button" name="button" class="btn btn-lg " style="background:#3B5998;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 10px 100px; margin-top: 30px;" (click)=login()>Facebook</button>
   </div>
  </div>
  </div>


  
  <div class="container" style=" padding:10px; margin-top:50px">
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-star  fa-5x" style="margin-left: 150px; color:#69D3BD " aria-hidden="true"></i>
        <h3 class="text-center" style="color:#ffffff">Trusted Recommendations </h3>
        <p class="text-center" style="color:#ffffff">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non lorem quis turpis hendrerit mattis. Phasellus tempor massa
          nec vulputate finibus. Sed efficitur mauris quis nibh laoreet tincidunt. Nunc eu gravida ante, id ornare orci.
          Nunc augue ex, tristique sit amet augue nec, venenatis semper sapien. Curabitur et ex magna.
        </p>

      </div>
      <div class="col-sm-4">
        <i class="fa fa-map-marker fa-5x" style="margin-left: 150px; color:#69D3BD" aria-hidden="true"></i>
        <h3 class="text-center" style="color:#ffffff">Schedule</h3>
        <p class="text-center" style="color:#ffffff">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non lorem quis turpis hendrerit mattis. Phasellus tempor massa
          nec vulputate finibus. Sed efficitur mauris quis nibh laoreet tincidunt. Nunc eu gravida ante, id ornare orci.
          Nunc augue ex, tristique sit amet augue nec, venenatis semper sapien. Curabitur et ex magna.
        </p>

      </div>
      <div class="col-sm-4">
        <i class="fa fa-usd fa-5x" style="margin-left: 150px; color:#69D3BD" aria-hidden="true"></i>
        <h3 class="text-center" style="color:#ffffff">Automated payments</h3>
        <p class="text-center" style="color:#ffffff">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non lorem quis turpis hendrerit mattis. Phasellus tempor massa
          nec vulputate finibus. Sed efficitur mauris quis nibh laoreet tincidunt. Nunc eu gravida ante, id ornare orci.
          Nunc augue ex, tristique sit amet augue nec, venenatis semper sapien. Curabitur et ex magna.
        </p>

      </div>


    </div>

  </div>
<div style="background-color:#ffffff; padding:20px">
  <div class="container text-center" style="background-color:#ffffff; font-size:30px">
  
     <em> <p style="color:#00c0aa">"HomIn <small class="text-muted"> is a recommendation system empowered by Artificial Intelligence to help you find trusty housekeepers
      working for your friends and the people you trust within your closest social circles"</small>
    </p>
    </em>

  </div>
    </div>
  
<div style="background-color:#ffffff; padding:20px">
 <div class="container">
   <div class="row">
     <div class="col-md-4">
      <img width="350px" height="250px"/>
     </div>
     <div class="col-md-8">
       <h3>Pricing</h3>
       <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non lorem quis turpis hendrerit mattis. Phasellus tempor massa
          nec vulputate finibus. Sed efficitur mauris quis nibh laoreet tincidunt.   
      </p>  

      <button type="button" name="button" class="btn btn-lg" style="background:#69D3BD;border-radius: 6px; color: #ffffff; font-size: 20px; padding: 10px 100px;">Learn More</button>

     </div>

   </div>

  </div>
</div>
 

<!--<hr style="background-color:#ffffff">-->
<!--
<div style="background-color:#ffffff; padding:20px">
<div class="container">
  <h3>Customer Stories</h3>

  <img width="300" height="200"/>
  

   </div>
</div>
  -->

  <div class="container text-center" style="padding:20px">
    <div class="container" >
    <div class="row">
      <div class="col-sm-3">
        <p style="color:#ffffff">
          Legal
        </p>

      </div>
      <div class="col-sm-3">
        <p style="color:#ffffff">
          Privacy
        </p>


      </div>
      <div class="col-sm-3">
        <p style="color:#ffffff">
          Privacy and Media
        </p>
      </div>

       <div class="col-sm-3">
        <p style="color:#ffffff">
          Investors
        </p>
      </div>
    

    </div>
    </div>
    <div>
      <h4 class="text-center" style="color:#ffffff">COPYRIGHT @ 2017 HomIn,INC. ALL RIGHTS RESERVED.</h4>
    </div>

  </div>



</div>